<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>faq section</title>
    <link rel="stylesheet" href="../Styling/faq.css">
</head>
<body>
<section class="faq-section">

  <div class="faq-container">
    <h2 class="faq-title">Frequently asked questions:</h2>
    <dl class="faq-list">
      <dt>What exactly is freeCodeCamp?</dt>
      <dd>
        freeCodeCamp is a community of people from all around the world who are learning to code together. We’re a 501(c)(3) public charity.
      </dd>

      <dt>How will freeCodeCamp help me learn to code?</dt>
      <dd>
        You will learn to code by building dozens of projects, step-by-step, right in your browser, code editor, or mobile app.<br>
        You will also earn free verified certifications along the way.
      </dd>

      <dt>Is freeCodeCamp really free?</dt>
      <dd>
        Yes. Every aspect of freeCodeCamp is 100% free. The courses, the projects, and even the certifications.
      </dd>

      <dt>Can freeCodeCamp help me get a job as a software developer?</dt>
      <dd>
        Yes. Every year, thousands of people who join the freeCodeCamp community get their first software developer job.
      </dd>

      <dt>What skills will I learn?</dt>
      <dd>
        You will learn the skills most developers use on the job: HTML, CSS, JavaScript, Python, Linux, Git, and SQL, and more. You’ll also learn how to use powerful libraries for web development, mobile app development, data science, and artificial intelligence.
      </dd>

      <dt>How long does it take to learn all this?</dt>
      <dd>
        freeCodeCamp is self-paced. Realistically, it may take several years of practicing coding to learn these skills well enough to get a job as a software engineer. Don’t quit school or your day job until you feel ready.
      </dd>

      <dt>How do I get started?</dt>
      <dd>
        If you’re a beginner, you should start at the beginning of the freeCodeCamp core curriculum. If you’re more advanced, we still recommend starting at the beginning, but you can skip to whatever area you wish.
      </dd>

      <dt>How do I earn the free verified certifications?</dt>
      <dd>
        For each certification, you need to build its 5 certification projects, and get all of the project tests to pass to be able to claim your certification.
      </dd>

      <dt>I don’t see [name of tool] in the freeCodeCamp core curriculum.</dt>
      <dd>
        Aside from the freeCodeCamp core curriculum, We have thousands of free, full-length books, courses, and programming tutorials. We almost certainly teach whatever programming tools you want to learn. Just use the search bar.
      </dd>

      <dt>Happy coding!</dt>
    </dl>
    <div class="faq-cta">
      <a href="#" class="cta-button">Get started (it's free)</a>
    </div>
  </div>
</section>
    
</body>
</html>