<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Testimonials Section</title>
  <link rel="stylesheet" href="../Styling/testimonials.css">
</head>
<body>
  <section class="testimonials-section">
      <div class="testimonial-row">
      <div class="testimonial-img-col">
        <img src="../images/shawn.webp" alt="Person 1" class="testimonial-img">
      </div>
      <div class="testimonial-text-col">
        <div class="testimonial-name">
          Shawn Wang in Singapore
        </div>
        <div class="testimonial-title">
          Software Engineer at <span class="testimonial-company">Amazon</span>
        </div>
        <div class="testimonial-desc">
         "It's scary to change careers. I only gained confidence that I could code by working through the hundreds of hours of free lessons on freeCodeCamp. Within a year I had a six-figure job as a Software Engineer. freeCodeCamp changed my life."
        </div>
      </div>
    </div>
    <div class="testimonial-row">
      <div class="testimonial-img-col">
        <img src="../images/sarah.webp" alt="Person 1" class="testimonial-img">
      </div>
      <div class="testimonial-text-col">
        <div class="testimonial-name">
          Sarah Chima in Nigeria
        </div>
        <div class="testimonial-title">
          Software Engineer at <span class="testimonial-company">ChatDesk</span>
        </div>
        <div class="testimonial-desc">
          "<strong>freeCodeCamp was the gateway to my</strong> career as a software developer. The well-structured curriculum took my coding knowledge from a total beginner level to a very confident level. It was everything I needed to land my first dev job at an amazing company."
        </div>
      </div>
    </div>
    <div class="testimonial-row">
      <div class="testimonial-img-col">
        <img src="../images/emma.webp" alt="Person 2" class="testimonial-img">
      </div>
      <div class="testimonial-text-col">
        <div class="testimonial-name">
          Emma Bostian in Sweden
        </div>
        <div class="testimonial-title">
          Software Engineer at <span class="testimonial-company">Spotify</span>
        </div>
        <div class="testimonial-desc">
          "I've always struggled with learning JavaScript. I've taken many courses but freeCodeCamp's course was the one which stuck. Studying JavaScript as well as data structures and algorithms on <strong>freeCodeCamp gave me the skills</strong> and confidence I needed to land my dream job as a software engineer at Spotify."
        </div>
      </div>
    </div>
    <div class="testimonial-btn-row">
      <button class="testimonial-btn">Get started (it's free)</button>
    </div>
  </section>
</body>
</html>