<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="../CSS/main.css">
</head>
<body>
    <header class="header">
        <div class="search">
            <input type="text" class="search-input" placeholder="Search 11900+ news articles, tutorials and books..">
        </div>
        <a href="#" class="logo">FreeCodeCamp</a>
        <div>
            <a href="#" class="btn btn-outline">Menu</a>
            <a href="#" class="btn hero-button">Sign in</a>
        </div>
    </header>
</body>
</html>